{% extends "vege/base.html"%}
<title>{% block title%} Recepie Project 2023 {% endblock %}</title>

{% block css%}

{% endblock%}


{% block body %}

<div class="container my-4">

  <form class="col-6 mx-auto card p-3 shadow-lg " method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2> Add Receipe </h2>
    <hr>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Receipe Name</label>
      <input type="text" name="recipe_name" required class="form-control" placeholder="Receipe Name">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Receipe Description</label>
      <textarea class="form-control" required="" name="recipe_desciption" placeholder="Receipe Description" rows="3"
        spellcheck="false" style="height: 145px;"></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Image Upload </label>
      <input type="file" name="recipe_image" class="form-control">
    </div>

    <button type="submit" class="btn btn-dark">Add Receipe </button>

  </form>

  <table class="table table-bordered my-4">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Receipe Name</th>
        <th scope="col">Receipe Description</th>
        <th scope="col">Receipe Image</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      {% for i in recipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td style="white-space: nowrap;"><b>{{i.recipe_name}}</b></td>
        <td>{{i.recipe_desciption}}</td>
        <td>
          <img src = "/media/{{i.recipe_image}}" style="height: 200px;">
        </td>
        <td>
          <a href="/recepies/delete/{{i.id}}"" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>

</div>

{% endblock %}