<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms Demo</title>
</head>
<body>
    <center>
        <h1>HTML FORM</h1>
    <form action="" method="post">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>Last Name</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>Email</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>Contact</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>Roll Number</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td>Semester</td>
                <td><input type="text" name="" id=""></td>
            </tr>

            <tr>
                <td> <input type="button" value="Submit"></td>
            </tr>
        </table>

        </center>
    </form>
</body>
</html>