<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    <h1>Search Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam asperiores consequatur incidunt facere error iste laudantium? Eum sed possimus, itaque beatae accusantium totam aspernatur laudantium, voluptas ipsum expedita exercitationem inventore. At corporis ipsum recusandae maiores distinctio ducimus pariatur! Voluptatibus modi, hic totam sit consequatur earum illo recusandae autem! Necessitatibus nesciunt sed quia consequuntur sit totam.
    </p>
</body>
</html>